.container{
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.main{
  display: flex;
  justify-content: space-between;
}

.left_side{
  width: 300px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.allblocks{
  display: flex;
  padding-top: 150px;
  justify-content: space-around;
}

.block1{
  width: 300px;
  height: auto;
  border: 3px solid #282c34;
}

.block2{
  width: 300px;
  height: auto;
  border: 3px solid #282c34;
}

.block3{
  width: 300px;
  height: auto;
  border: 3px solid #282c34;
}

.work{
  font-size: 15px;
  font-weight: bold;
}

.acc{
  width: 15px;
  cursor: pointer;
  height: 15px;
  margin-right: 10px;
}



.content{
 display: none;
}

.content.active{
  display: block;
}

.wr_block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wr_block.active{
  display: none;
}

.hb_block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hb_block.active{
  display: none;
}

.st_block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.st_block.active{
  display: none;
}

.scroll_block{
  
  overflow: auto;
  
}